.contact__content-box {
    height: 100%;
    background: var(--main-white);
}

.contact__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0 2em;
}
.contact__content-h2 {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 1em;
}

.contact__content-phone {
    padding: .1em;
    border-bottom: var(--dark-grey) 1px solid;
    width: 70%;
    margin: 0 auto;
}

.contact__content-mail {
    padding: .1em;
}

.contact__content-icon {
    margin: .5em;
}


/*TABLET VIEW*/
@media screen and (min-width: 570px) {
    .contact__content {
        padding-top: 5vh;
    }
    .contact__content-h2 {
        font-size: 30px;
    }
}

/*DESKTOP SCREEN*/
@media screen and (min-width: 1000px) {
    .contact__content-h2 {
        font-size: 40px;
    }

    .contact__content-phone {
        padding: 2em;
        width: 30%;
    }

    .contact__content-mail {
        padding-bottom: 2em;
    }
}