h1, h2, h3, h4, h5, h6, p, a {
    font-family: Roboto, sans-serif;
}

.main {
    height: 92vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Header Styling */
.main__header {
    padding-top: 30vh;
    color: var(--main-white);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
.main__header-location {
    display: inline-flex;
    list-style: none;
}

/* Icon Styling*/
.main__icons li {
    padding: 0 10px 0 20px;
}
.main__header-h4 {
    padding-top: auto;
}
.main__icons {
    padding-top: 10vh;
}
.main__icons ul {
    display: inline-flex;
    list-style: none;
}

/* SVG Styling */
.svg {
    height: 60px;
    padding-bottom: 10px;
    width: auto;
    fill: var(--main-white);
}
.main__icons-hover:hover, .svg:hover {
    fill: var(--main-blue);
    color: var(--main-blue);
    transition: .3s ease;
}

/* Search bar Styling */
.searchbar {
    height: 10vh;
    background: var(--main-white);
    border-bottom: var(--main-grey) solid 2px;
    text-align: center;
}

/* About Styling */
.about__content {
    height: 90vh;
    background-color: var(--main-grey);
    text-align: center;
    padding: 0px 5%;
}
.about__content-h3 {
    font-size: 1.8em;
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}
.about__content-img {
    border-radius: 50%;
    width: 110px;
}
.about__content-p {
    padding: 1em 0 1em 0;
    font-size: 12px;
}

/* Project Mini Display Styling */
.display__content {
    background-color: var(--main-white);
}
.display__content-preview {
    border-bottom: var(--main-grey) solid 2px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 ;
}
.display__content-preview-img {
     width: 100%;
 }
.display__content-preview-h2 {
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
}
.display__content-preview-h3 {
    font-size: 1.4em;
    padding: .3em 0;
    text-align: center;
}
.display__content-preview-a {
    color: var(--main-black);
}

/*TABLET VIEW*/
@media screen and (min-width: 570px) {

}

/*DESKTOP SCREEN*/
@media screen and (min-width: 1070px) {

}

