@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
/*COLOUR VARIABLES*/
:root {
    --main-black:   #000000;
    --main-blue:    #2ABDFF;
    --main-white:   #ffffff;
    --main-grey:    #F0F0F0;
}
/*TEKST SETUP*/
h1, h2, h3, h4, h5, h6, p, a, li{
    font-family: Roboto, sans-serif;
}
/*DESKTOP NAVIGATION SECTION*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body {*/
/*    background: url("../img/fujisan-2560x1440p.jpg") center fixed;*/
/*    background-size: cover;*/
/*}*/

body {
    /*background-color: var(--main-blue);*/
    background: url("../img/fujisan-2560x1440p.jpg") center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

li, a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-white);
    text-decoration: none;
}

span {
    font-weight: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    height: 8vh;
    position: sticky;
    top: 0;
    transition: .3s ease;
    background-color: var(--main-black);
    z-index: 1;
}

h1:hover, span:hover {
    color: var(--main-blue);
    transition: all .3s ease 0s;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all .3s ease 0s;
}

.nav__links li a:hover {
    color: var(--main-blue);
}

.menu {
    display: none;
}

.menu:hover {
    color: var(--main-blue);
    transition: all .3s ease 0s;
}

.menu, .close {
    cursor: pointer;
}

/*MOBILE NAVIGATION SECTION*/
.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--main-black);
    overflow-x: hidden;
    transition: all .5s ease 0s;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all .3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: var(--main-blue);
}

.overlay .close {
    position: absolute;
    right: 15px;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .nav__links {
        display: none;
    }
    .menu {
        display: inherit;
    }
}

@media screen and (max-width: 570px) {
    h1, span{
        font-size: 1em;
    }

    .overlay a {
        font-size: 1em;
    }
}