/*MOBILE VIEW*/
.project__main {
    height: 92vh;
}

.project__header {
    padding-top: 40vh;
    color: var(--main-white);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

/*Projects display*/
.project__content-box {
    background-color: var(--main-white);
    height: 100%;
}

.project__content {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0 20px;
    border-bottom: var(--main-grey) solid 2px;
}

.project__content-img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.project__content-split, .project__content-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.project__content-list {
    text-align: left;
}

.project__content-button {
    color: var(--main-blue);
    border: var(--main-blue) 1px solid;
    padding: 5px 10px;
}

#button-1 {
    grid-column: 1/2
}

#button-2 {
    grid-column: 2/3
}

#button-1:hover, #button-2:hover {
    cursor: pointer;
    background-color: var(--main-blue);
    color: var(--main-white);
    transition: .5s ease;
}

.project__content-list {
    padding: 1em 0 1em;
}

.project__content-list-left li, .project__content-list-right li {
    color: var(--main-black);
    list-style-type: none;
}

.project__content-list li:before {
    content: "◎ ";
    color: var(--main-blue);
}

.project__content-h3 {
    color: var(--main-black);
    font-size: 1em;
    padding: 10px 0 5px;
    text-align: left;
}

.project__content-h4 {
    color: var(--main-blue);
    font-size: 17px;
    padding: .3em 0;
    text-align: left;
}

.project__content-p {
    font-size: 14px;
}

.project__content-a {
    color: var(--main-black);
}

/*SCROLL ICON*/
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 20px;
    height: 35px;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #fff;
    margin-left: -2px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}


@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/*TABLET VIEW*/
@media screen and (min-width: 750px) {
    .project__header {
        padding-top: 40vh;
    }

    .project__header-h2 {
        font-size: 40px;
    }

    .project__content-h3 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 26px;
    }

    .project__content-img {
        padding: 1em 0 1em;
    }

    .project__content-split {
        padding: 1em 0 1em;
    }

    /*SCROLL ICON*/
    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        left: 50%;
    }

    .icon-scroll {
        width: 30px;
        height: 50px;
        margin-left: -20px;
        top: 90%;
        margin-top: -35px;
        box-shadow: inset 0 0 0 1px #fff;
        border-radius: 25px;
    }

    .icon-scroll:before {
        content: '';
        width: 6px;
        height: 6px;
        background: #fff;
        margin-left: -3px;
        top: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }


    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(28px);
        }
    }
}

/*DESKTOP SCREEN*/
@media screen and (min-width: 1070px) {
    .project__header {
        padding-top: 40vh;
    }

    .project__header-h2 {
        font-size: 60px;
    }

    .project__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        text-align: left;
    }

    .project__content-h3 {
        text-align: center;
        grid-column: 1/3;
        font-size: 35px;
        padding-bottom: 10px;
    }

    .project__content-list {
        grid-row: 4/5;
    }

    .project__content-split {
        grid-column: 1/2;
    }

    .project__content-p {
        padding-bottom: 40px;
    }

    .project__content-group-1 {
        grid-column: 1/2;
    }
    .project__content-group-2 {
        grid-column: 2/3;
    }

    /*SCROLL ICON*/
    .icon-scroll,
    .icon-scroll:before {
        position: absolute;
        left: 50%;
    }

    .icon-scroll {
        width: 35px;
        height: 70px;
        margin-left: -20px;
        top: 90%;
        margin-top: -35px;
        box-shadow: inset 0 0 0 1px #fff;
        border-radius: 25px;
    }

    .icon-scroll:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }


    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(46px);
        }
    }
}
